.centerbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jvscrpttext {
    margin-right: 10px;
}

.btn-project {
    font-size: large;
    font-family: monospace;
    opacity: .5;
}

    .btn-project:hover {
        opacity: 1;
    }

#previewheading {
    margin-left: 20%;
}

#upcproject {
    padding-top: 75px;
    padding-bottom: 75px;
}

#updesc {
    font-family: 'Retro Gamer';
}

.codedesc {
    padding-top:10%;
    font-size:30px;
    font-family: monospace;
}

#PREV {
    visibility: hidden;
}

#refer {
    font-family: 'alphabetized cassette tapes';
    font-size: 20px;
}

#link {
    color: slategrey
}

.thumbprev {
    width:100%;
    height:auto;
}

.hrow{
    padding-top:1%;
    padding-bottom:1%;
}

.prismbox{
    display:none;
}

#prismtog{
    margin-left:30%;
    margin-top:10%;
}